.pagination {
  display: flex;
}

.pagination__item {
  padding-left: 1rem;
  padding-right: 1rem;

  &>.button-arrow {
    padding-bottom: 2px;
  }

  @media (max-width:767px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}