.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  margin-bottom: 1rem;
}

.logo__subtitle {
  padding-left: 0.4rem;
  font-size: 1.3rem;
  line-height: 1.5rem;

  letter-spacing: 0.1em;

  color: $color-light-xl;
}