.nav {
  display: flex;
  height: 100%;

  @media screen and (max-width: 767px) {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 320px;
    background-color: $color-dark-3xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10;

    .nav__small-screen-wrapper {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

  }

  .nav__logo {
    display: none;

  }

  .nav__logo--active {
    display: block;
    position: absolute;
    top: 35px;
    left: 7px;
  }
}

.nav--active {
  transform: translateX(0%);
}


.nav__item {
  position: relative;

  margin-left: 3.6rem;
  margin-top: -0.4rem;
  font-size: 1.5rem;
  line-height: 2.4rem;

  color: $color-dark-s;

  text-decoration: none;

  &::after {
    content: "";
    display: none;
    width: 100%;
    height: 3px;
    background-color: $color-primary;
    position: absolute;
    bottom: -4px;
    left: 1px;
    z-index: 1;
  }

  &.active {
    color: $color-light-s;

    &::after {
      display: block;
    }
  }

  &:hover {
    color: $color-light-s;
  }

  @media screen and (max-width: 767px) {
    font-size: 3.2rem;
    line-height: 5.1rem;
    margin-left: 0;
  }

}

.nav__item--disabled {
  cursor: default;

  &:hover {
    color: $color-dark-s;
  }
}

.burger {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    margin-right: 4.3rem;
    margin-left: auto;
    padding-top: 0.2rem;
    z-index: 10;
  }

  .burger__image {
    transition: transform 0.1s;
  }

  .burger__image--active {
    transform: rotate(90deg);
    margin-top: 17px;
  }
}