.donation {
  background-color: $color-light-l;
}
.donation__inner {
  display: flex;
  justify-content: center;
  padding-top: 8.1rem;
  padding-bottom: 10.1rem;
}

.donation__image {
  margin-right: 3rem;
  padding-top: 1rem;
}

.donation__content {
  width: 31.66%;
}

.donation__title {
  margin-bottom: 2rem;
}

.donation__subtitle {
  margin-bottom: 2rem;
}

.donation__description {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $color-dark-m;
  max-width: 38rem;
  margin-top: 2rem;
}